*,
::before,
::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --transition-speed: 0.8s;
    --btn-bg-color: transparent;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    transition: var(--transition-speed) ease;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.65);
    z-index: -1;
}

.img-container {
    background-color: brown;
    height: 70vh;
    width: 70vw;
    position: relative;
    overflow: hidden;
}

.img {
    height: 100vh;
    width: 100vw;
    background-position: center;
    background-size: cover;
    top: -15vh;
    left: -15vw;
    z-index: 1;
    position: absolute;
    opacity: 0;
}


.img.active {
    opacity: 1;
}

.arrow-btn {
    position: fixed;
    bottom: 10vh;
}

.left-arrow {
    left: calc(50vw - 50px);
}

.right-arrow {
    right: calc(50vw - 50px);
}

.btn {
    background-color: var(--btn-bg-color);
}

.animateTransition {
    animation: swing var(--transition-speed) ease;
}

@keyframes swing {
    0% {
        transform: translateX(5px);
        filter: blur(4px);
    }
    50% {
        transform: translateX(-5px);
        /* filter: blur(3px); */
    }
    100% {
        transform: translateX(0);
        filter: blur(0px);
    }
}

 p{
    margin-top: 30px;
    text-align: center;
}
a{
    text-decoration: none;
    color: #8a9a5b;
    font-size: 30px;
}
a:hover{
    color: grey;
}
@media(max-width: 480px){
    a{
        font-size: 20px;
    }
}