body{
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    min-height: 100vh;
    background: tan;
}
.content{
    height: 80vh;
    width: 80vw;
}
.content .images{
    height: 100%;
    width: 100%;
}
.images img{
    height: 100%;
    max-width: 100%;
    margin: 0 auto;
    border-radius: 10px;
}
a{
    text-decoration: none;
    color: #313f0b;
    font-size: 3em;
}
a:hover{
    color: grey;
}

@media (max-width: 480px) {
    .images img{
        height: auto;
        width: 100%;
        object-fit: cover;
    }
    a{
        font-size: 2em;
    }
    h1{
        font-size: 1.5rem;
    }
}