@import url('https://fonts.googlapis.com/css2?family=Poppins&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    background-color: #e3aee5;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px;
    height: 100vh;
}
main{
    background-color: #6b566b;
    width: 500px;
    height: 300px;
    display: grid;
    align-items: center;
    justify-content: center;
    box-shadow: 1px 1px 10px 5px;
    border-radius: 5px;
    padding: 10px;
}
.time,
.text{
    margin: auto;
}
h1{
    box-shadow: 1px 1px 10px 5px;
    color: rgb(8, 8, 8);
    padding: 15px;
    border-radius: 5px;
    font-size: 2rem;
}
p{
    font-size: 1.5rem;
}
.text{
    box-shadow: 1px 1px 10px 5px;
    color: rgb(29, 197, 219);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 0;
    border: none;
    outline: none;
}
.author{
    color: white;
    align-self: flex-end;
}
.homepage{
    text-decoration: none;
    color: #8a9a5b;
    font-size: 30px;
    text-align: center;
}
.homepage:hover{
    color: grey;
}

@media (max-width: 480px) {
    body{
        margin: 0;
    }
    main {
        height: 50vh;
        width: 80vw;
    }
    .text{
        margin-bottom: 25px;
    }
    p{
        font-size: 1.2rem;
    }
    h1{
        font-size: 1rem;
    }
}