

.container {
    position: absolute;
    top: 20vh;
    left: 10%;
    z-index: 2;
}

#Progress-bar {
    width: 100%;
    background-color: #ddd;
    box-shadow: 0 0 16px rgba(0, 0, 0, 0.5);
    border-radius: 2px;
    height: 30px;
}

#myBar {
    width: 0%;
    height: 100%;
    background-color: #4caf50;
    border-radius: 2px;
    text-align: center;
    line-height: 30px;
    color: #fff;
}

img {
    height: 100vh;
    width: auto;
    z-index: 1;
}

:root {
    --speed: 5s;
}

.blur {
    filter: blur(1.5rem);
}

.clear {
    animation: clearImg var(--speed);
}

@keyframes clearImg {
    0% {filter: blur(1.5rem)}
    10% {filter: blur(1.3rem)};
    20% {filter: blur(1.1rem)};
    30% {filter: blur(0.9rem)};
    40% {filter: blur(0.8rem)};
    50% {filter: blur(0.7rem)};
    60% {filter: blur(0.6rem)};
    70% {filter: blur(0.5rem)};
    80% {filter: blur(0.4rem)};
    90% {filter: blur(0.3rem)};
    100% {filter: blur(0rem)};   
}

p{
    margin-top: 50px;
    text-align: center;
}
a{
    text-decoration: none;
    color: #8a9a5b;
    font-size: 30px;
}
a:hover{
    color: grey;
}